# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mininet / OVS runtime
*.log
*.pid
*.sock

# Test and Benchmark results
results/
*.data
*.tsv
*.png

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/
